# configs/forest_trajectory.yaml

zarr_path: "/data/VA/zarr/va_cube.zarr"

time_steps: 10
patch_size: 256
batch_size: 2
num_epochs: 100

beta: 0.1
lambda_cat: 1.0
lambda_delta: 1.0
lambda_deriv: 1.0
lambda_spatial_grad: 0.5     # or 1.0
spatial_grad_mode: "huber"   # or "l2"
spatial_grad_beta: 0.05
w_final: 2.0
change_thresh: 0.05
time_channels: [0]


optimizer:
  name: adam
  lr: 1e-4
  weight_decay: 0.0
  scheduler:
    name: cosine
    T_max_epochs: 100    # often == num_epochs
    eta_min: 1.0e-6

beta_schedule:
  enabled: true
  schedule_type: linear
  start_epoch: 0
  end_epoch: 50
  start_value: 0.1
  end_value: 1.0
  
debug_window: true

# Used if debug_window: true
debug_window_origin: [8192, 8192]
debug_window_size:   [1024, 1024]
debug_block_dims:    [1, 1]

# Used if debug_window: false
full_block_dims:     [7, 7]

num_workers: 0
pin_memory: true

run_root: "runs"
experiment_name: "forest_trajectory_v0_debug7"
ckpt_dir: "checkpoints"
